.ab-header{
    background-color: white!important;
    padding:0!important;
    box-shadow: 0 1px 5px 0 rgba(0,21,41,.08);
    /* 保证阴影正确显示 */
    z-index: 9;
}

.ab-sider{
    box-shadow: 1px 0px 10px 0 rgba(0,21,41,.08);
    z-index: 10;
}

.ab-container{
    margin: 24px;
}

.ab-footer{
    text-align: center;
}

.ab-page-header{
    background-color: #fff;
    padding: 16px 24px;
}

.ab-page-header-heading-title{
    margin-top: 16px;
    margin-right: 12px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ab-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    padding-left: 24px;
    /* background-color: #fafafa; */
    user-select: none;
    box-shadow: 0px 0px 10px 0 #e8e8e8;
    cursor: pointer;
}

.ab-logo-img{
    height: 32px;
    /* animation: logo-rotate 3s linear infinite normal; */
}

/* @keyframes logo-rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
} */

.ab-logo-text{
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 20px;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans-serif;
}

.ab-collapsed{
    font-size: 20px;
    padding: 22px 24px;
}

.ab-collapsed:hover{
    color: #1890ff;
    /* color: rgb(30, 40, 43) */
}

.ab-menu{
    margin: 6px 0 !important;
    border: none !important;
}

.ab-loading{
    text-align: center;
}

.ab-card{
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(0,0,0,.15);
}

.ab-logo-home{
    width: 70px;
}
    
.ab-form-container{
    /* padding: 0 16px 16px 16px;
    background-color: white; */
    background-color: white;
    padding: 24px 24px 0 24px;
    margin-bottom: 24px;
}

.ab-home-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    color:rgba(255, 255, 255, 0.65);
    user-select: none;
}

.ab-home-logo-img{
    height: 36px;
}

.ab-home-logo-text{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 20px;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans-serif;
}

.ab-content-container{
    background-color: white;
    padding: 24px;
}

.ab-pie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-chart-title{
    text-align: center;
    font-size: 1.10rem;
}

.ab-slider-container{
    margin-top: 20px;
}

.ab-chart-container{
    background-color: white;
    padding: 24px;
}